/* Preim
   ========================================================================== */


#preim {
  text-align: center;

  h2{
    margin: 1em 0;
  }
}
  .prm{
    margin: 1.5em 0;
    h3 {
      margin-top: 1em;
    }
  }